html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  user-select: none;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

.wrapper header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.wrapper h1 {
  font-size: 30px;
}

.wrapper main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.wrapper main .border {
  width: 100%;
  height: 50px;
  background-color: black;
}

.wrapper main .content {
  width: 80%;
  display: flex;
  justify-content: center;
  padding: 100px 0 100px 0;
  flex-direction: column;
  align-items: space-between;
}

.wrapper main .content .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.wrapper main .content .row .item {
  width: 80px;
  height: 50px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 30px;
  margin-top: 20px;
}

.wrapper main .content .row:first-child .item {
  margin-top: 0;
}

.wrapper footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: black;
}
